{{ define "body_classes" }}page{{ end }}

{{ define "content" }}
<article>
    <header>    
            <p>
                <blockquote></br>
                <p><strong>{{ .Title }}:</strong> {{ .Params.description }}</p>
                <p>{{ .Date.Format "02.01.2006" }} - 
                {{ with .Params.village }}{{ . }}, {{ end }}
                {{ with .Params.state }}{{ . }}, {{ end }}
                {{ with .Params.country }}{{ i18n . }}{{ end }}</p>
                <section class="map-section">
                    <div id="mapid" class="map-container">Karteninhalt hier</div>
                    <div class="info-container">
                        <p> 
                            <strong>Aktivität:</strong> {{ i18n .Params.activity_type }}<br>
                            <strong>Start:</strong> {{ .Params.start_point_lat }} / {{ .Params.start_point_lon }}<br>
                            <strong>Ziel:</strong> {{ .Params.end_point_lat }} / {{ .Params.end_point_lon }}<br>    
                            <strong>Länge:</strong> {{ .Params.length_km }}km<br>
                            <strong>Dauer:</strong> {{ .Params.duration }}<br>
                            <strong>Bewegungszeit:</strong> {{ .Params.moving_time }}<br>
                            {{ with .Params.start_time }}
                                {{ if ge (len .) 20 }} <!-- Prüft, ob der String mindestens 20 Zeichen lang ist -->
                                    <strong>Startzeit:</strong> {{ substr . 11 (sub (len .) 20) }}<br>
                                {{ end }}
                            {{ end }}                         
                            {{ with .Params.end_time }}
                                {{ if ge (len .) 20 }} <!-- Prüft, ob der String mindestens 20 Zeichen lang ist -->
                                    <strong>Endzeit:</strong> {{ substr . 11 (sub (len .) 20) }}<br>
                                {{ end }}
                            {{ end }}                        
                            <strong>Höhenmeter up:</strong> {{ .Params.total_ascent }}m<br>
                            <strong>Höhenmeter down:</strong> {{ .Params.total_descent }}m<br>
                        </p>
                    </div>
                </section>
                
                </blockquote>
            </p>

    </header>
    <section style="display: grid; grid-template-columns: 3fr 1fr; gap: 20px;">
        <div id="mapid" style="height: 400px;">Karteninhalt hier</div>
        <div>
            <p><strong>Activity Type:</strong> {{ i18n .Params.activity_type }}</p>
            <p><strong>Country:</strong> {{ i18n .Params.country }}</p>
            <p><strong>State:</strong> {{ .Params.state }}</p>
        </div>
    </section>

    <!-- Beispiel für die Ausgabe von benutzerdefinierten Front Matter-Attributen -->
    <footer>
        <p><strong>Equipment Used:</strong> {{ .Params.equipment_used }}</p>
        <p><strong>Weather Conditions:</strong> {{ .Params.weather_conditions }}</p>
        <!-- Fügen Sie hier weitere benutzerdefinierte Front Matter-Attribute ein -->
    </footer>
</article>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('mapid').setView([47.339, 8.05], 13);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);
  
      // Angepasster Pfad zum JSON-File
      var jsonPath = '{{ .Site.BaseURL }}/map-json/{{ .File.TranslationBaseName }}.json';
  
      fetch(jsonPath)
          .then(response => response.json())
          .then(data => {
              // Zugriff auf die Trackpoints unter dem Schlüssel 'points'
              var trackpoints = data.points.map(point => [point.latitude, point.longitude]);
              var polyline = L.polyline(trackpoints, {color: 'red'}).addTo(map);
              // Zentriert die Karte so, dass alle Trackpoints sichtbar sind
              map.fitBounds(polyline.getBounds());
          })
          .catch(error => console.log('Error loading the trackpoints:', error));
  });
  </script>
  

{{- end }}
