{{ define "body_classes" }}page{{ end }}

{{ define "content" }}
<article>
    <header>    
            <p>
                <blockquote></br>
                <p><strong>{{ .Date.Format "02.01.2006" }}.</strong> {{ .Params.description }}</p>
                <p> 
                {{ with .Params.village }}{{ . }}, {{ end }}
                {{ with .Params.state }}{{ . }}, {{ end }}
                {{ with .Params.country }}{{ i18n . }}{{ end }}</p>
                <section class="map-section">
                    <div id="mapid" class="map-container">Karteninhalt hier</div>
                    <div class="info-container">
                        <p> <strong>{{ .Title }}</strong><br>
                            {{ if eq .Params.activity_type "hiking" }}
                                <i class="fa-solid fa-person-hiking"></i> {{ i18n .Params.activity_type }}<br>
                            {{ else if eq .Params.activity_type "walking" }}
                                <i class="fa-solid fa-person-walking"></i> {{ i18n .Params.activity_type }}<br>
                            {{ else if eq .Params.activity_type "cycling" }}
                                <i class="fa-solid fa-person-biking"></i> {{ i18n .Params.activity_type }}<br>
                            {{ end }}
                            {{ with .Params.start_time }}
                            {{ if ge (len .) 20 }} <!-- Prüft, ob der String mindestens 20 Zeichen lang ist -->
                            <i class="fa-regular fa-circle-play"></i> {{ substr . 11 (sub (len .) 20) }} Uhr<br>
                            {{ end }}
                            {{ end }}                         
                            {{ with .Params.end_time }}
                            {{ if ge (len .) 20 }} <!-- Prüft, ob der String mindestens 20 Zeichen lang ist -->
                            <i class="fa-regular fa-circle-stop"></i> {{ substr . 11 (sub (len .) 20) }} Uhr<br>
                            {{ end }}
                            {{ end }}
                            <i class="fa-solid fa-hourglass-end sand-hourglass"></i> {{ .Params.duration }}<br>
                            <i class="fa-solid fa-person-running"></i> {{ .Params.moving_time }}<br>                        
                            <i class="fa-solid fa-location-dot"></i>{{ .Params.start_point_lat }} / {{ .Params.start_point_lon }}<br>
                            <i class="fa-solid fa-map-pin"></i> {{ .Params.end_point_lat }} / {{ .Params.end_point_lon }}<br>    
                            <i class="fa-solid fa-arrows-left-right"></i> {{ .Params.length_km }}km<br>
                            <i class="fa-solid fa-arrow-up-long" style="transform: rotate(45deg);"></i> {{ .Params.total_ascent }}m<br>
                            <i class="fa-solid fa-arrow-up-long" style="transform: rotate(135deg);"></i>{{ .Params.total_descent }}m<br>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Wappen_Muhen_AG.svg" width="32" height="32">
                        </p>
                    </div>
                </section>
                
                </blockquote>
            </p>

    </header>

    <!-- Beispiel für die Ausgabe von benutzerdefinierten Front Matter-Attributen -->
    <footer>
        <p><strong>Equipment Used:</strong> {{ .Params.equipment_used }}</p>
        <p><strong>Weather Conditions:</strong> {{ .Params.weather_conditions }}</p>
        <!-- Fügen Sie hier weitere benutzerdefinierte Front Matter-Attribute ein -->
    </footer>
</article>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('mapid').setView([47.339, 8.05], 13);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '© OpenStreetMap contributors'
      }).addTo(map);
  
      // Angepasster Pfad zum JSON-File
      var jsonPath = '{{ .Site.BaseURL }}/map-json/{{ .File.TranslationBaseName }}.json';
  
      fetch(jsonPath)
          .then(response => response.json())
          .then(data => {
              // Zugriff auf die Trackpoints unter dem Schlüssel 'points'
              var trackpoints = data.points.map(point => [point.latitude, point.longitude]);
              var polyline = L.polyline(trackpoints, {color: 'red'}).addTo(map);
              // Zentriert die Karte so, dass alle Trackpoints sichtbar sind
              map.fitBounds(polyline.getBounds());
          })
          .catch(error => console.log('Error loading the trackpoints:', error));
  });
  </script>
  

{{- end }}
