{{ define "content" }}
<div class="container">
  {{ $activities := .Site.GetPage "section" "activities" }}
  <!-- Filtere die Seiten, um nur diejenigen mit dem Tag "ViaGottardo" einzuschließen -->
  {{ $filteredPages := where $activities.RegularPages "Params.tags" "intersect" (slice "ViaGottardo") }}
  {{ $groupedPages := $filteredPages.GroupByDate "2006-01" "desc" }}
  {{ range $groupedPages }}
    <h2>{{ i18n .Key }}</h2> <!-- Direkte Anzeige des Gruppierungsschlüssels -->
    <div class="box-wrapper">
      {{ range .Pages }}
        {{ partial "activity-overview" . }}
      {{ end }}
    </div>
  {{ end }}
</div>
{{- end }}
