{{ define "content" }}
  {{ $activities := .Site.GetPage "section" "activities" }}
  <!-- Filtere die Seiten, um nur diejenigen mit dem Tag "ViaGottardo" einzuschließen -->
  {{ $filteredPages := where $activities.RegularPages "Params.tags" "intersect" (slice "ViaGottardo") }}
  <!-- Berechnung der Gesamtkilometer -->
  {{ $totalKm := 0 }}
  {{ range $filteredPages }}
    {{ $km := .Params.length_km }}
    {{ $totalKm = add $totalKm $km }}
  {{ end }}  
  <!-- Ende Berechnung der Gesamtkilometer -->
  <!-- Berechnung der Gesamtdauer -->
  {{ $totalHours := 0 }}
  {{ $totalMinutes := 0 }}
  {{ range $filteredPages }}
    {{ $currentPage := . }}
    {{ with .Params.moving_time }}
      {{ $timeParts := split . " " }}
      {{ if eq (len $timeParts) 2 }}
        {{ $hoursRaw := index $timeParts 0 }}
        {{ $minutesRaw := index $timeParts 1 }}
        {{ $hours := replace $hoursRaw "h" "" 1 }}
        {{ $minutes := replace $minutesRaw "min" "" 1 }}
        {{ $totalHours = add $totalHours (int $hours) }}
        {{ $totalMinutes = add $totalMinutes (int $minutes) }}
      {{ else }}
        {{ printf "Format der Zeit nicht korrekt oder unvollständig für: %s" $currentPage.Permalink }}
      {{ end }}
    {{ else }}
      {{ printf "Keine Bewegungszeit gefunden für: %s" $currentPage.Permalink }}
    {{ end }}
  {{ end }}
  {{ $additionalHours := div $totalMinutes 60 }}
  {{ $remainingMinutes := mod $totalMinutes 60 }}
  {{ $totalStunden := add $totalHours $additionalHours }}     

            
  <!-- Ende Berechnung der Gesamtdauer -->
  <!-- Berechnung der Höhenmeter -->
  {{ $totalHoehe := 0 }}
  {{ range $filteredPages }}
      {{ $hoehe := .Params.total_ascent }}  <!-- Versucht, den Wert in eine Ganzzahl zu konvertieren -->
      {{ $totalHoehe = add $totalHoehe $hoehe }}
  {{ end }}
  <p>Die ViaGottardo durchquert die Schweiz von Basel nach Chiasso, und bei der Bewältigung der Etappen war die Reihenfolge für mich zweitrangig. Ich habe sie in der Reihenfolge angegangen, die mir am besten passte, anstatt mich strikt von Norden nach Süden vorzuarbeiten.</p>
  <div class="icon-grid">
    <div class="grid-item icon-box">
      <div id="distance-icon" style="width: 100px; height: 100px;"></div>
      <div class="countergottardo">{{ $totalKm }} km</div>
    </div>
    <div class="grid-item icon-box">
      <div id="route-icon" style="width: 100px; height: 100px;"></div>
      <div class="countergottardo">{{ $totalHoehe }} m</div>
    </div>
    <div class="grid-item icon-box">
      <div id="running-icon" style="width: 100px; height: 100px;"></div>
      <div class="countergottardo">{{ $totalStunden }}:{{ $remainingMinutes }}h</div>
    </div>
  </div>
  <div id="mapid" style="height: 600px; padding-bottom: 20px;" class="grid-item full-width">Volle Breite (12)</div>
  <div class="container">
  <!-- Ende Berechnung der Gesamthöhe -->
  {{ $groupedPages := $filteredPages.GroupByDate "2006-01" "desc" }}
  {{ range $groupedPages }}
    <h2>{{ i18n .Key }}</h2> <!-- Direkte Anzeige des Gruppierungsschlüssels -->
    <div class="box-wrapper">
      {{ range .Pages }}
        {{ partial "activity-overview" . }}
      {{ end }}
    </div>
  {{ end }}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var map = L.map('mapid').setView([46.80056, 8.22222], 8);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);
  
      // Pfade zu den JSON-Dateien
      var jsonPaths = [
        '{{ .Site.BaseURL }}/map-json/viagottardo_basel_liestal.json',       
        '{{ .Site.BaseURL }}/map-json/viagottardo_liestal_laeufelfingen.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_laeufelfingen_zofingen_.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_zofingen_sursee.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_sursee_luzern.json',       
        '{{ .Site.BaseURL }}/map-json/viagottardo_spez_luzern_weggis.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_weggis_brunnen.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_spez_brunnen_altdorf.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_altdorf_gurtnellen.json',       
        '{{ .Site.BaseURL }}/map-json/goeschenen_gotthardpass.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_bellinzona_tesserete.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_tesserete_lugano.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_san_salvatore_morcote.json',
        '{{ .Site.BaseURL }}/map-json/viagottardo_brusino_chiasso.json',
        // Füge weitere Pfade hinzu, wie benötigt
      ];
  
      var colors = ['blue', 'red'];
  
      jsonPaths.forEach((jsonPath, index) => {
        fetch(jsonPath)
          .then(response => response.json())
          .then(data => {
            // Zugriff auf die Trackpoints unter dem Schlüssel 'points'
            var trackpoints = data.points.map(point => [point.latitude, point.longitude]);
            var polyline = L.polyline(trackpoints, {color: colors[index % colors.length]}).addTo(map);
            // Zentriert die Karte nicht erneut für jede Route
          })
          .catch(error => console.log('Error loading the trackpoints:', error));
      });
  
      // Optional: nach dem Hinzufügen aller Routen kannst du die Karte zentrieren,
      // um alle Routen einzubeziehen. Dies kann komplexer sein, da es asynchron ist.
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Initialisierung der ersten Animation
      lottie.loadAnimation({
        container: document.getElementById('running-icon'), // ID des ersten Containers
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{{ .Site.BaseURL }}/aniicons/running.json' // Pfad zur ersten JSON-Datei
      });
    
      // Initialisierung der zweiten Animation
      lottie.loadAnimation({
        container: document.getElementById('route-icon'), // ID des zweiten Containers
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{{ .Site.BaseURL }}/aniicons/route.json' // Pfad zur zweiten JSON-Datei
      });
    
      // Füge hier weitere lottie.loadAnimation Aufrufe für zusätzliche Icons hinzu
      lottie.loadAnimation({
        container: document.getElementById('distance-icon'), // ID des zweiten Containers
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '{{ .Site.BaseURL }}/aniicons/distance.json' // Pfad zur zweiten JSON-Datei
      });
    });
  </script>

{{- end }}
