<a href="{{ .Permalink }}" class="card-link">
    <div class="card">
      <div class="Box" style="background-image: url('{{ .Params.teaser_image | absURL }}');">
        <div class="link-overlay">
          <strong>{{ if gt (len .Title) 56 }}{{ substr .Title 0 56 }}...{{ else }}{{ .Title }}{{ end }}</strong>
        </div>
      </div>
      <div class="details">
        <div style="font-size:1.4rem"><strong>{{ if gt (len .Title) 46 }}{{ substr .Title 0 46 }}...{{ else }}{{ .Title }}{{ end }}</strong></div>
        <div><strong>Aktivität:</strong> {{ i18n .Params.activity_type }}</div>
        <div><strong>Länge:</strong> {{ .Params.length_km }}km</div>
        <div><strong>Höhenmeter:</strong> {{ .Params.total_ascent }}m</div>
        <div><strong>Dauer:</strong> {{ .Params.moving_time }}</div>
        <button style="margin-top: 40px;">Ich will es ganz genau wissen</button>
      </div>
    </div>
  </a>
  
    